@model List<ContatoModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <h5 class="card-header">Lista Contato</h5>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="Manager" class="btn btn-success">Criar novo</a>
        <hr/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Telefone</td>
                        <td>@item.Email</td>
                        <td>
                            <a asp-action="Editar" asp-controller="Manager" class="btn btn-primary btn-sm" asp-route-IdContato="@item.IdContato">Editar</a>
                            <a asp-action="Eliminar" asp-controller="Manager" class="btn btn-danger btn-sm" asp-route-IdContato="@item.IdContato">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>